.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    background-color: white;
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}
.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 10px;
}

